.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link {
    opacity: 1;
    margin-left: 10px;
    height: 24px;
    overflow: hidden;
}

.icon {
    fill: var(--inverted-primary-color);
    flex-shrink: 0;
}

.collapsed {
    .link {
        opacity: 0;
        transition: opacity 0.3s;
    }
}
