.ProfilePageHeader {
    display: flex;
    margin-bottom: 20px;
}

.buttons {
    margin-left: auto;

    > button {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}
